---
layout: welcome
---
<div id="extra" hidden=""></div>

<div id="reveal"><p>MENU</p></div>

<!--
<div id = "fast">
    	  <div class="bg animated fadeIn"  style="{{ site.delay_6 }}" data-ibg-bg="{{ base }}assets/graphic2.jpg">
    	  </div>
	{% include bottom-header.html %}
</div>

<div id = "slow">
    	  <div id = "slow" class="bg animated fadeIn"  style="" data-ibg-bg="{{ base }}assets/graphic2.jpg" z-index: 2;>
    	  </div>    	  
	{% include bottom-header.html %}
</div>    	
-->

<div class="splash" id="top-header">

<div id="top-left"><span id="name">MSA 18</span></div>
<div id="top-right"><span id="venue">November 17-20, 2016<br>Pasadena, California</span></div>

<div id="bottom-middle"><span id="subtitle-top">Culture</span><br><span id="subtitle-bottom">Industries</span></div>

<div id="bottom-header"><span id="d"><a href="#scrollTo">See The Poster</a></span></div>

</div>

<div class="post">
<div id="scrollTo" style="clear:both;"></div>
<img src="assets/msa18poster.jpg" width="110%" style="margin-left:-95px;">
<!--{% capture my_include %}{% include welcome.md %}{% endcapture %}
{{ my_include | markdownify }}-->
</div>
		</div><!-- Container -->

<!-- script for header -->



<!-- script for scrolling -->
	<script>

	$(function() {
	  $('a[href*=#]:not([href=#])').click(function() {
	    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

	      var target = $(this.hash);
	      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	      if (target.length) {
	        $('html,body').animate({
	          scrollTop: target.offset().top
	        }, 1000);
	        return false;
	      }
	    }
	  });
	  
	});
	</script>  