<footer>
<p>Web Design: <a href="mailto:achris@uvic.ca">Alex Christie (University of Victoria)</a> Outgoing Webmaster: <a href="mailto:jhuculak@uvic.ca">Matt Huculak (University of Victoria)</a><br>
<a href="mailto:msaseventeen@gmail.com">Boston Organizing Committee</a>: Carrie Preston (Boston University), Marjorie Howes (Boston College), and Paige Reynolds (College of the Holy Cross)<br>
Student Organizers: Bryan Russo, Linda ...<br>
Sponsors: <a href="">Boston University</a>, ...<br>
<a href="https://msa.press.jhu.edu/">Modernist Studies Association Site</a>
</p>
</footer>