<footer>
<p>Web Design: <a href="http://axchristie.github.io/">Alex Christie (Brock University)</a><br>
<a href="mailto:MSA2018Columbus@gmail.com">Columbus Organizing Committee</a>: Thomas S. Davis (The Ohio State University), Jesse Schotter (The Ohio State University)<br>
Student Organizers: Katelyn Hartke (Ohio State)<br>
Sponsors: Ohio State University Department of English, Ohio State University College of Arts & Sciences, Ohio State University Libraries, Ohio University, Otterbein University<br>
<a href="https://msa.press.jhu.edu/">Modernist Studies Association Site</a>
</p>
</footer>