<footer>
<p>Web Design: <a href="mailto:achris@uvic.ca">Alex Christie (University of Victoria)</a> Outgoing Webmaster: <a href="mailto:jhuculak@uvic.ca">Matt Huculak (University of Victoria)</a><br>
<a href="mailto:msaseventeen@gmail.com">Boston Organizing Committee</a>: Carrie Preston (Boston University), Marjorie Howes (Boston College), and Paige Reynolds (College of the Holy Cross)<br>
Student Organizers: Linda Martin, Nicole Rizzo, Bryan Russo, Nell Wasserstrom<br>
Sponsors: Boston University College of Arts & Sciences, Boston University Center for the Humanities, Boston College, College of the Holy Cross, Johns Hopkins University Press.<br>
<a href="https://msa.press.jhu.edu/">Modernist Studies Association Site</a>
</p>
</footer>