<header>
<ul class="nav" id = "full" hidden>
	<li class="title"><a href="{{ base }}/index.html">{{ site.name }} {{ site.subtitle }}</a></li>
	<li class = 'top-nav' id="top-nav-two">{{ site.data.top-nav.two }}</li>	
	<li class = 'top-nav' id="top-nav-one">{{ site.data.top-nav.one }}</li>	
	<li class = 'top-nav' id="top-nav-three">{{ site.data.top-nav.three }}</li>	
	<li class = 'top-nav' id="top-nav-four">{{ site.data.top-nav.four }}</li>	
	<li class = 'top-nav' id="top-nav-five">{{ site.data.top-nav.five }}</li>	
	<li class = 'top-nav' id="top-nav-six"><a href="mailto:msaseventeen@gmail.com">{{ site.data.top-nav.six }}</a></li>	
	<li class = 'top-nav' id="top-nav-seven">{{ site.data.top-nav.seven }}</li>	
	<li class = 'top-nav' id="top-nav-eight">{{ site.data.top-nav.eight }}</li>		
</ul>

{% include top-header.html %}
<ul class="nav" id = "animate" hidden>
	<li class="title hidden"><a href="#tippytop">{{ site.name }} {{ site.subtitle }}</a></li>	
	<li class = 'top-nav animated fadeInDown' id="top-nav-two" >{{ site.data.top-nav.two }}</li>
	<li class = 'top-nav animated fadeInDown' id="top-nav-one" >{{ site.data.top-nav.one }}</li>		
	<li class = 'top-nav animated fadeInDown' id="top-nav-three" >{{ site.data.top-nav.three }}</li>	
	<li class = 'top-nav animated fadeInDown' id="top-nav-four" >{{ site.data.top-nav.four }}</li>	
	<li class = 'top-nav animated fadeInDown' id="top-nav-five" >{{ site.data.top-nav.five }}</li>	
	<li class = 'top-nav animated fadeInDown' id="top-nav-six" ><a href="mailto:msaseventeen@gmail.com">{{ site.data.top-nav.six }}</a></li>	
	<li class = 'top-nav animated fadeInDown' id="top-nav-seven" style="">{{ site.data.top-nav.seven }}</li>	
	<li class = 'top-nav animated fadeInDown' id="top-nav-eight" style="">{{ site.data.top-nav.eight }}</li>
</ul>

<ul class="nav" id = "mobile" hidden>
	<li class="title">{{ site.name }} {{ site.subtitle }}</li>
	<li class = 'top-nav' id="top-nav-zero"><a href="{{ base }}/index.html">Welcome</a></li>	
	<li class = 'top-nav' id="top-nav-two">{{ site.data.top-nav.two }}</li>	
	<li class = 'top-nav' id="top-nav-one">{{ site.data.top-nav.one }}</li>		
	<li class = 'top-nav' id="top-nav-three">{{ site.data.top-nav.three }}</li>	
	<li class = 'top-nav' id="top-nav-four">{{ site.data.top-nav.four }}</li>	
	<li class = 'top-nav' id="top-nav-five">{{ site.data.top-nav.five }}</li>	
	<li class = 'top-nav' id="top-nav-six"><a href="mailto:msaseventeen@gmail.com">{{ site.data.top-nav.six }}</a></li>	
	<li class = 'top-nav' id="top-nav-seven">{{ site.data.top-nav.seven }}</li>	
	<li class = 'top-nav' id="top-nav-eight">{{ site.data.top-nav.eight }}</li>	
</ul>


<!-- <ul class="bottom-nav hidden" id="welcome">
	<li>Submit a Proposal:</li>
    {% for post in site.posts %}
    	   {% if post.categories contains 'call' %}
			<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
			{% endif %}
    {% endfor %}
</ul> -->

<ul class="bottom-nav hidden" id="conf">
    {% for post in site.posts %}
    	   {% if post.categories contains 'conf' %}
			<li><a href="{{ base }}{{ post.url }}">{{ post.title }}</a></li>
			{% endif %}
    {% endfor %}
    {% for post in site.posts %}
    	   {% if post.categories contains 'conf_link' %}
			<li><a href="{{ post.link }}">{{ post.title }}</a></li>
			{% endif %}
			{% endfor %}        
</ul>

<ul class="bottom-nav hidden" id="program">
    {% for post in site.posts %}
    	   {% if post.categories contains 'program' %}
			<li><a href="{{ post.link }}">{{ post.title }}</a></li>
			{% endif %}
			{% endfor %}        
</ul>

<ul class="bottom-nav hidden" id="grads">
    {% for post in site.posts %}
    	   {% if post.categories contains 'grad' %}
			<li><a href="{{ base }}{{ post.url }}">{{ post.title }}</a></li>
			{% endif %}
    {% endfor %}
    {% for post in site.posts %}
    	   {% if post.categories contains 'grad_link' %}
			<li><a href="{{ post.link }}">{{ post.title }}</a></li>
			{% endif %}
			{% endfor %}    
</ul>

<ul class="bottom-nav hidden" id="events">
    {% for post in site.posts %}
    	   {% if post.categories contains 'events' %}
			<li><a href="{{ base }}{{ post.url }}">{{ post.title }}</a></li>
			{% endif %}
    {% endfor %}
</ul>

<ul class="bottom-nav hidden" id="visit">
    {% for post in site.posts %}
    	   {% if post.categories contains 'visit_link' %}
			<li><a href="{{ post.link }}">{{ post.title }}</a></li>
			{% endif %}
			{% endfor %}
    {% for post in site.posts %}
    	   {% if post.categories contains 'visit' %}
			<li><a href="{{ base }}{{ post.url }}">{{ post.title }}</a></li>
			{% endif %}
    {% endfor %}
</ul>

</header>

<script>
{% include script.js %}
</script>