<div class="header">
<!--
<h1>{{ site.name }} {{ site.subtitle }}</h1>
-->
<h2>
<ul class="nav">
	<li class="title"><a href="{{ site.baseurl }}/home">{{ site.name }} {{ site.subtitle }}</a></li>
	
	<li><a href="{{ site.baseurl }}/CFP.html"class="animated fadeInDown" style="{{ site.delay_3 }}">Read the CFP</a></li>
	<li><a href="{{ site.baseurl}}/community.html"class="animated fadeInDown" style="{{ site.delay_6 }}">Post & View CFPs</a></li>
	<li><a href="mailto:MSAseventeen@gmail.com"class="animated fadeInDown" style="{{ site.delay1 }}">Contact</a></li>
	
										<br>

	<li class="animated fadeInDown" style="{{ site.delay1_5 }}">Submit a proposal:</li>
	
	<li class="animated fadeInDown" style="{{ site.delay2 }}"><a href="{{ site.baseurl }}/submit/panel.html">Panel </a></li>
										
	<li class="animated fadeInDown" style="{{ site.delay2_5 }}"><a href="{{ site.baseurl }}/submit/roundtable.html">Roundtable</a><li>
										
	<li class="animated fadeInDown" style="{{ site.delay3 }}"><a href="{{ site.baseurl }}/submit/exhibit.html">Poster & Digital Exhibit</a><li>
	
		<li class="animated fadeInDown" style="{{ site.delay3_5 }}"><a href="{{ site.baseurl}}/register.html">Conference registration</a><li>
</ul>
</h2>
</div>