<div class="header">
<!--
<h1>{{ site.name }} {{ site.subtitle }}</h1>
-->
<h2>
<ul class="nav">
	<li class="title"><a href="{{ site.baseurl }}/">{{ site.name }} {{ site.subtitle }}</a></li>
	
	<li><a href="http://msa.press.jhu.edu/conferences/msa16/files/MSA16_cfp.pdf">Read the CFP</a></li>
	<li><a href="{{ site.baseurl}}/community.html">Post & View CFPs</a></li>
	
										<br>

	
	<li>Submit a proposal:</li>

	<li><a href="">Seminar</a></li>
	
	<li><a href="">Workshop </a></li>
	
	<li><a href="">Panel </a></li>
										
	<li><a href="">Roundtable</a><li>
										
	<li><a href="">Poster & Digital Exhibit</a><li>
</ul>
</h2>
</div>