<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }} {{ site.subtitle }}</title>
        <meta name="author" content="Alex Christie, Brock University and the Amsterdam Organizing Committee."
        <meta name="description" content="Conference website for the 19th annual Modernist Studies Association Conference, MSA 2017, held August 10-13 in Amsterdam.">
        <meta name="viewport" content="width=device-width">
        <!-- open graph metadata -->
		<meta property="og:image" content="https://msa.press.jhu.edu/conferences/msa19/assets/TooropToo.jpg" />
<!--		<meta property="og:description" content="Join us in Amsterdam from August 10-13, 2017 for the nineteenth annual Modernist Studies Association Conference, Modernism Today. Call for papers, MSA 2017." /> -->
        

		<!-- base snippet for relative paths -->
		{% include base.html %}

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ base }}/css/style.css">
        <link rel="stylesheet" href="{{ base }}/css/animate.css">
        <link rel="stylesheet" href="{{ base }}/css/nav.css">

		<!-- Web Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">		
		<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Arvo|Bungee+Outline|Bungee+Shade|Fira+Sans|Fredericka+the+Great|Lora|Monoton|Open+Sans|Signika" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Merriweather:700' rel='stylesheet' type='text/css'>
					
		<!-- Favicon -->		 		 
		 
		<!-- Made with Fun Dip -->
		<script>
		{% include jquery-1.9.1.js %}
		</script>
		<script>
		{% include jquery.interactive_bg.js %}
		</script>		
<!--		<script src="http://www.onextrapixel.com/examples/file/js/modernizr.js"></script> -->
    	
    	<!-- Analytics -->
		{% include analytics.html %}    	

		
    </head>   
    
<span id="tippytop"></span>
{% include header.html %}
<div class="top-pad"></div>
<body>

                {{ content }}
                               
<div class="advert"></div>
</body>

<!--		{% include footer.html %} -->

</html>